
.titlebar-min-button {
    width: 36px;
    height: 27px;
    Position: absolute;
    top: 9px;
    right: 46px;
}
.titlebar-min-button.off{
    background: url(../images/titlebar/titlebar-min-button-on.png)no-repeat 0 0;
    background: url(../images/titlebar/titlebar-min-button-off.png)no-repeat 0 0;
}

.titlebar-min-button.clicked{
    background: url(../images/titlebar/titlebar-min-button-on-click.png)no-repeat 0 0;
}

.titlebar-min-button.on{
    background: url(../images/titlebar/titlebar-min-button-on.png)no-repeat 0 0;
}

.titlebar-close-button {
    width: 35px;
    height: 27px;
    Position: absolute;
    top: 9px;
    right: 10px;
}
.titlebar-close-button.off{
    background: url(../images/titlebar/titlebar-close-button-on.png)no-repeat 0 0;
    background: url(../images/titlebar/titlebar-close-button-off.png)no-repeat 0 0;
}

.titlebar-close-button.on{
    background: url(../images/titlebar/titlebar-close-button-on.png)no-repeat 0 0;
}

.titlebar-close-button.clicked{
    background: url(../images/titlebar/titlebar-close-button-on-click.png)no-repeat 0 0;
}